* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 60px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background: #ffffff;
}

.logo {
  font-family: "Inconsolata", sans-serif;
  position: fixed;
  font-size: 40px;
  color: #262626;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-size: 80px;
  /* padding-top: 80px; */
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: .1s;
}

.logo i {
  font-size: 60px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  gap: 60px;
  display: inline-flex;
  align-content: start;
  margin-left: 1000px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 900px;
  color: #262626;
  text-decoration: none;
  font-weight: 500;
  transition: .2s;
  letter-spacing: -0.5px;
}

.navbar .active {
  color: #17ced4;
}

.navbar .active:hover {
  color: #17ced4;
  transform: scale(0.93);
}

.navbar a:hover {
  color: #17ced4;
  transform: scale(0.93);
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0px 10%;

}

.home-content {
  max-width: 700px;
}

.home-content h1 {
  position: relative;
  color: #262626;
  font-size: 56px;
  font-weight: 700px;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700px;
  color: #17ced4;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
}

.home-content p {
  position: relative;
  color: #262626;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: .3s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  align-items: center;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  z-index: 2;
}

.img-wrapper img {
  width: 25%;
  position: absolute;
  right: 290px;
  bottom: 150px;
  border-radius: 20%;
  transition: .3s;
  box-shadow: 0px 0px 20px 15px rgb(26, 26, 26, 0.2);
  opacity: 0.9;
  animation-delay: 0.3s;
}

.img-wrapper img:hover {
  width: 28%;
  position: absolute;
  right: 260px;
  bottom: 120px;
  box-shadow: 0px 0px 20px 15px rgb(26, 26, 26, 0.2);
  opacity: 1;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  color: #f1f1f1;
  background: #17ced4;
  border: 2px solid #17ced4;
  border-radius: 10px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600px;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #17ced4;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #17ced4;
}

.btn-box a:nth-child(2):hover {
  color: #f1f1f1;
}

.btn-box a:nth-child(2)::before {
  background: #17ced4;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f1f1f1;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 250px;
  background: transparent;
  padding-left: 20px;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #17ced4;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: #17ced4;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #f1f1f1;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #17ced4;
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.about-div {
  width: 100%;
  height: 100px;
  background: #292929;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: default;
  text-decoration: none;
  gap: 120px;
  opacity: 0.9;
}

.about-div ul {
  font-family: "Inconsolata", sans-serif;
  font-size: 25px;
  color: #f1f1f1;
}

.about-div i {
  font-size: 30px;
  color: #f1f1f1;
}

.about-main {
  position: relative;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-top: 50px;
  padding-top: 100px;
}

.about-img {
  position: relative;
  padding-top: 0px;
}

.about-img img {
  width: 85%;
  cursor: pointer;
  transition: .3s;
}

.about-img img:hover {
  transform: scale(1.1);
}

.about-text h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  color: #17ced4;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.about-text h3 {
  font-size: 28px;
  padding-bottom: 10px;
  color: #1d1d1de5;
}

.about-text p {
  color: #484848cd;
  font-size: 19px;
  width: 500px;
  letter-spacing: 0.3px;
}

.about-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 163px;
}

.about-icons img {
  width: 70px;
  padding-left: 20px;
  cursor: pointer;
  transition: .2s;
}

.about-icons img:hover {
  transform: scale(1.2);
}

.projects-main {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
}

.project-text h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #17ced4;
  letter-spacing: 0.5px;
}

.project-text h3 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #1d1d1de5;
  padding-bottom: 60px;
}

.project1 {
  align-items: center;
  display: inline-flex;
  gap: 60px;
  padding-bottom: 150px;
}

.project1 img {
  border-radius: 60px;
  transition: .2s;
  box-shadow: -3px 5px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project1 img:hover {
  transform: scale(1.1);
}

.project1 h1 {
  font-family: 'Mulish', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 30px;
  color: #1d1d1de8;
  letter-spacing: 1px;
}

.project1 p {
  color: #484848cd;
  font-size: 19px;
  font-weight: 600;
  width: 250px;
  letter-spacing: -.3px;
  text-align: center;
  padding-bottom: 20px;

}

.project1-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #1d1d1df4;
  padding-bottom: 20px;
}

.project1-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s;
}

.project1-buttons:hover {
  transform: scale(1.04);
}

.project1-buttons i {
  font-size: 30px;
  color: #17ced4;
}

.project1-buttons a {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #17ced4;
}

.project2 {
  align-items: center;
  display: inline-flex;
  gap: 60px;
  padding-bottom: 150px;
}

.project2 img {
  border-radius: 60px;
  transition: .2s;
  box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project2 img:hover {
  transform: scale(1.1);
}

.project2 h1 {
  font-family: 'Mulish', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 30px;
  color: #1d1d1de8;
  letter-spacing: 1px;
}

.project2 p {
  color: #484848cd;
  font-size: 19px;
  font-weight: 600;
  width: 250px;
  letter-spacing: -.3px;
  text-align: center;
  padding-bottom: 20px;

}

.project2-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #1d1d1df4;
  padding-bottom: 20px;
}

.project2-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s;
}

.project2-buttons i {
  font-size: 30px;
  color: #17ced4;
}

.project2-buttons a {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #17ced4;
}

.project-others {
  padding: 12px 12px 12px 12px;
  background: #17ced4;
  border-radius: 30px;
  transition: .3s;
}

.project-others a {
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.project-others:hover {
  transform: scale(1.1);
}

.contact-main {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
}

.contact-text {
  margin-right: 400px;
}

.contact-text h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #17ced4;
  letter-spacing: 0.5px;
}

.contact-text h3 {
  font-size: 25px;
  padding-bottom: 10px;
  color: #1d1d1de5;
  padding-bottom: 60px;
}

.contact-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}

.mail-icon i {
  font-size: 40px;
  color: #19c7cdea;
}

.mail-text h2 {
  font-family: "Mulish" ,sans-serif;
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 5px;
}

.mail-text a {
  font-family: "Mulish" ,sans-serif;
  color: #484848cd;
  font-size: 19px;
  width: 500px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: .2s;
}

.mail-text a:hover {
  color: #17ced4;
}

.tree-icon i {
  font-size: 40px;
  color: #19c7cdea;
}

.tree-text h2 {
  font-family: "Mulish" ,sans-serif;
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 5px;
}

.tree-text a {
  font-family: "Mulish" ,sans-serif;
  color: #484848cd;
  font-size: 19px;
  width: 500px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: .2s;
}

.tree-text a:hover {
  color: #17ced4;
}

.copyright-main {
  margin-top: 150px;
  width: 100%;
  height: 150px;
  background: #2d2e32;
}

.copyright-content h2 {
  font-size: 1.2rem;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}



/* OTHERS */

/* Scroll-bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}

/* Keyframes Animation */
@keyframes showRight {
  100% {
    width: 0;
  }
}